.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  .details {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .poster {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .info {
    font-size: 1em;
    color: #555555;
    margin-bottom: 10px;
  }

  .seasons {
    margin-top: 20px;
  }
  
  